<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Arizona</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_staff or user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'servicio:agenda-listar' %}">Agendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'servicio:cancha-listar' %}">Servicios</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'cliente:reserva_list' %}">Clientes/Reservas</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link disabled" aria-current="page">||</a>
                </li>
                
             
                {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'servicio:agenda-reserva' %}">Reserva</a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                
                
                <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'account:index' %}">Mi cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Login:logout' %}">Logout</a>
                </li>
                {% else %}
                {% if user.is_staff %}
                <!-- No se muestra nada para el usuario administrador -->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Login:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account:register' %}">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">ARIZONA</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
