{% extends "layout.html" %}
{% block title %}
index | {{ block.super }}
{% endblock %}

{% block container %}

<body class="body">
    <div class="container">
        <h1>Bienvenido {{user.username}}</h1>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a  class="list-group-item active">Mi cuenta</a>
                    {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
                    <a href="{% url 'account:update_user'%}" class="list-group-item">modificar usuario</a>
                    {% endif %}
                    
                    <a href="{% url 'account:update_password'%}" class="list-group-item">modificar contraseña</a>
                    <a href="{% url 'cliente:cliente_create' %}" class="list-group-item"> datos complementarios </a>
                </div>
                <br>
                <div class="list-group">                    
                    {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
                        <a href="{% url 'cliente:listar_reservas_usuario' %}" class="list-group-item">Mis reservas</a>
                    {% endif %}
                    {% if request.user.is_staff or request.user.is_superuser %}
                    <a href="{% url 'account:user_list' %}" class="list-group-item">Usuarios</a>
                    <a href="#" class="list-group-item">Otros</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <!-- ################## listas servicio , reservas , agendas  ################## -->
                {% block accounts_container %}<h2>Bienvenido {{ user.name }} </h2>{% endblock %}

            </div>
        </div>
</body>

{% endblock %}