{% extends "layout.html" %}

{% block title %}
Tipos de Cancha | {{ block.super }}
{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/services/tipos.css' %}" type="text/css">
{% endblock %}


{% block container %}

<div class="card-container">
    {% for tipo in tipos_cancha %}
    <div class="card">
        <a href="{% url 'agendas:agenda-listar'%}">
            {% if tipo.nombre == "Futbolito" %}
            <img src="https://dummyimage.com/600x400/000/fff" alt="Imagen de la cancha de futbolito">
            {% elif tipo.nombre == "Paddel" %}
            <img src="https://dummyimage.com/600x400/000/fff" alt="Imagen de la cancha de paddel">
            {% elif tipo.nombre == "Cross" %}
            <img src="https://dummyimage.com/600x400/000/fff" alt="Imagen de la cancha de paddel">
            {% else %}
            <img src="https://dummyimage.com/600x400/000/fff" alt="Imagen predeterminada">
            {% endif %}
        </a>
        <div class="card-body">
            <h1>{{ tipo.nombre }} (<span>${{tipo.precio }}</span>)</h1>
            <p>{{ tipo.descripcion }} </p>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}