{% extends "layout.html" %}

{% block title %}
Servicios | {{ block.super }}
{% endblock %}

{% load static %}
{% load humanize %}

{% block head %}

{% endblock %}

{% block container %}

<div class="container">
  <br>
  <a href="{% url 'servicio:agenda-agregar' %}" class="btn btn-outline-dark">Agregar Nueva Agenda</a>
  <br>
  <hr>
  <div class="card">
    <div class="card-header">
      Agendas disponibles
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Cancha</th>
            <th>Agenda</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for agenda in agendas %}
          <tr>
            <td>{{ agenda.cancha.tipo }}</td>
            <td>{{ agenda.cancha.numeracion }}</td>
            <td>{{ agenda.horario }}</td>
            <td>
              <a href="{% url 'servicio:agenda-actualizar' agenda.id %}" class="btn btn-sm btn-primary">Editar</a>
              <a href="{% url 'servicio:agenda-eliminar' agenda.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">No hay agendas disponibles.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
