{% extends "accounts/index.html" %}

{% block accounts_container %}


<style>
  /* Estilos para el contenedor principal */
  .container {
    margin: 20px;
  }

  /* Estilos para el título del formulario */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  /* Estilos para el formulario */
  .form-horizontal {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Estilos para los campos de entrada */
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* Estilos para el botón de enviar */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  /* Estilos para el mensaje de error */
  .error {
    color: red;
    margin-top: 5px;
  }

  /* Estilos para el mensaje de éxito */
  .success {
    color: green;
    margin-top: 5px;
  }
</style>

<div class="container">
  <form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <div class="col-md-9 col-md-offset-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}